.h1Enca{
    margin-top: 55px;
    text-align: center;
    text-shadow: 2px 5px 5px grey;
    font-family: "Oswald", sans-serif;
}
.presentacion{
    font-size: 25px;
    font-family: "Anta", sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 90px;
}
.main-index{
    height: 100%;
    width: 100;
}
.Bodynicio{
    width: 100%;
    height: 2000px;
    background-image: url("../assets/img/pag\ de\ inicio.jpg");
    background-position: center;
    background-size: cover;
}