$background-color: rgba(255, 0, 0, 0.699);
$color-letrasbarra:#1C2238;
h1{
    color: red;
    margin-top: 50px;
}
.h1Insu{
    text-align: center;
    text-shadow: 2px 5px 5px grey;
    font-family: "Oswald", sans-serif;
}
.Bodynsumos{
    width: 100%;
    background-image: url("../assets/img/insumos.jpg");
    background-position: center;
    background-size: cover;
}
.Contac-insu{
    display: flex;
    background-color: red;
    margin-top: 93.75rem;
    flex-direction: row-reverse;
    list-style: none;
    gap: .9375rem;
}
.section-grid{
    display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows:1,1fr;
width: 100%;
height:500px;
gap: 10px;
margin-top: 50%;
}
.section-grid img{
width: 100%;
height: 100%;
object-fit: cover;
border: 3px solid white;
}
.h2Main{
    color: white;
}
@media(max-width:768px){
    .headerinsu{
        background-color: #1c22388e;
    }
    .inicio-insu{
        display: none;
    }
    .Bodynsumos{
        width: 100%;
        height: 31.25rem;
        background-image: url("../assets/img/insumos.jpg");
        background-position:center;
        background-size:cover;
    }
    .titu-prote{
        font-size: 15px;
    }
    .navbarinsu li a{
        color: white;
    }
}
@media(max-width:320px){
    .h1Insu{
        background-color: black;
    }
    .headerinsu{
        flex-direction: column;
    }
    .navbarinsu{
        flex-direction: column;
    }
    .navbarinsu li a{
        font-size: 30px;
        margin-left: 35px;
    }
    .navbarinsu .inicio-insu{
        display: none;
    }
    .creatina-img{
        grid-column: 2 / 8;
        grid-row: 1 / 3;
    }
    .titu-prote{
        grid-column: 2 / 8;
        grid-row: 1 / 2;
        font-size: 15px;
        color: black;
        position: relative;
    }
    .parracrea{
        display: none;
    }
    .accesorios-img{
        grid-column: 2 / 8;
        grid-row: 4 / 6;
    }
    .titu-acc{
        grid-column: 4 / 6;
        grid-row: 4 / 6;
        font-size: 15px;
        position: relative;
        color: black;
    }
    .parra-acc{
        display: none;
    }
    .maquinarias-img{
        grid-column: 2 / 8;
        grid-row: 7 / 9;
    }
    .titu-maqui{
        grid-column: 4 / 6;
        grid-row: 7 / 9;
        font-size: 15px;
    }
    .parramaqui{
        display: none;
    }
}