@media (max-width: 1245){
    .info{
        margin-bottom: 85px;
    }
    .Bodyplan{
        width: 100%;
    }
}
@media (max-width: 1024px){
    .Bodynsumos form{
        display: none;
    }
}
@media (max-width: 768px){
    .headerIndex{
        background-color: rgba(28, 34, 56, 0.5333333333);
    }
    .main-index .h1Enca{
        background-color: black;
    }
    .info{
    display: none;
    }
    .Contac-index{
        margin-top: 1000px;
    }
    .main-p{
        margin-right: 60px;
        width: 100%;
        height: 50%;
    }
    .h1Plan{
        margin-left: 5px;
    }
    .Contac{
        flex-direction: row-reverse;
    }
    .Contac-plan{
        display: flex;
        flex-direction: row-reverse;
        list-style: none;
        background-color: red;
        gap: 10px;
    }
    .navbar-index .Clasindex li a{
        color: white;
    }
    form{
        color: white;
    }
    .Bodynicio{
        width: 100%;
        height: 31.25rem;
        background-image: linear-gradient(to bottom, #fd3a13, #c1202a, #81182a, #42141e, #000000);
        background-position: center;
        background-size: cover;
    }
    .presentacion{
        font-size: 20px;
        font-family: "Anta", sans-serif;
        color: white;
        justify-content: center;
        justify-self: center;
        margin-top: 55px;
    }
    .headerPlan{
        background-color: rgba(0, 0, 0, 0.733);
    }
    .barraP .navbarP li a{
        color: white;
    }
    .Bodyplan{
        width: 100%;
        height: 2200px;
        background-image: linear-gradient(to bottom, #fd3a13, #c1202a, #81182a, #42141e, #000000);
        background-position: center;
        background-size: contain;
    }
    .h1Plan{
        background-color: black;
    }
    .Sectionplan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .info-plan{
        margin-right: 150px;
        width: 80%;
        h2{
            margin-left: 13px;
        }
    }
    .Bodyben{
        width: 100%;
        height: 2290px;
        background-image: linear-gradient(to bottom, #fd3a13, #c1202a, #81182a, #42141e, #000000);
    }
    .h1Ben{
        background-color: black;
    }
    .info-ben{
        width: 50%;
        height: 500px;
        margin-left: 200px;
        h2{
            margin-left: 50px;
        }
    }
    .inicio-ben{
        display: none;
    }
    .section-nutri{
        height: 14%;
        width: 455px;
        grid-template-columns: 1,1fr;
        grid-template-rows: 1,1fr;
        margin-left: 150px;
    }
    .titu-nutri{
        margin-left: 50px;
    }
    .parranutri{
        color: white;
        font-weight: bolder;
        font-size: 25px;
    }
    .headerinsu{
        background-color: rgba(28, 34, 56, 0.5568627451);
    }
    .inicio-insu{
        display: none;
    }
    .Bodynsumos{
        width: 100%;
        height: 2000px;
        background-image: linear-gradient(to bottom, #fd3a13, #c1202a, #81182a, #42141e, #000000);
        background-position: center;
        background-size: cover;
    }
    .Classben{
        margin-top: 50px;
    }
    .section-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        width: 89%;
        margin-left: 40px;
    }
    .Bodycon{
        background-image: linear-gradient(to bottom, #fd3a13, #c1202a, #81182a, #42141e, #000000);
        height: 1000px;
    }
    .section-con{
        display: none;
    }
    .titu-prote{
        font-size: 15px;
    }
    .navbarinsu li a{
        color: white;
    }
    .headerben{
        background-color: rgba(28, 34, 56, 0.6039215686);
    }
    .navbarben li a{
        color: white;
    }
    .headercon {
        background-color: rgba(28, 34, 56, 0.5333333333);
    }
    .inicio-con{
        display: none;
    }
    .inicio-bar{
        display: none;
    }
    .navbarcon li a{
        color: white;
    }
}
@media (max-width: 320px){
    .Bodynicio{
        height: 2000px;
    }
    .cards{
        margin-top: 350px;
        .titulo-1{
            font-size: 12px;
        }
        .titulo-2{
            font-size: 12px;
        }
        .titulo-3{
            font-size: 12px;
        }
        .boton{
            display: none;
        }
    }
    .headerIndex {
        flex-direction: column;
    }
    .Clasindex li a {
        font-size: 30px;
        margin-left: 35px;
    }
    .Clasindex{
        flex-direction: column;
    }
    .section-tra{
        justify-content: end;
        justify-self: flex-end;
        margin-bottom: 3px;
        margin-left: 35px;
    }
    .h1Enca{
        margin-top: 15px;
        background-color: black;
        color: red;
    }
    .presentacion{
        color: black;
        font-weight: bolder;
        height: 600px;
    }
    form{
        display: none;
    }
    .h1Plan{
        background-color: black;
        margin-top: 20px;
    }
    .Sectionplan{
        margin-top: 20px;
    }
    .headerPlan{
        flex-direction: column;
    }
    .navbarP{
        flex-direction: column;
    }
    .barraP .navbarP li a{
        font-size: 30px;
        margin-left: 35px;
    }
    .info-plan{
        width: 90%;
        margin-left: 15px;
    }
    form{
        display: none;
    }
    .h1Insu{
        background-color: black;
    }
    .headerinsu{
        flex-direction: column;
    }
    .navbarinsu{
        flex-direction: column;
    }
    .navbarinsu li a{
        font-size: 30px;
        margin-left: 35px;
    }
    .navbarinsu .inicio-insu{
        display: none;
    }
    .info-insu{
        width: 90%;
        margin-left: 15px;
        h2{
            margin-left: 50px;
        }
    }
    .section-grid{
        width: 90%;
        grid-template-columns: 1,1fr;
        grid-template-rows: 1,1fr;
        height: 90%;
        gap: 3px;
        margin-left: 15px;
    }
    .section-nutri{
        display: none;
    }
    .section-grid img{
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    .titu-prote{
        grid-column: 2/8;
        grid-row: 1/2;
        font-size: 15px;
        color: black;
        position: relative;
    }
    .parracrea{
        display: none;
    }
    .titu-acc{
        grid-column: 4/6;
        grid-row: 4/6;
        font-size: 15px;
        position: relative;
        color: black;
    }
    .parra-acc{
        display: none;
    }
    .titu-maqui{
        grid-column: 4/6;
        grid-row: 7/9;
        font-size: 15px;
    }
    .parramaqui{
        display: none;
    }
    .h1Ben{
        background-color: black;
    }
    .headerben{
        flex-direction: column;
    }
    .navbarben{
        flex-direction: column;
    }
    .navbarben li .inicio-ben{
        display: none;
    }
    .navbarben li a{
        font-size: 30px;
        margin-left: 30px;
    }
    .Bodyben{
        background-image: linear-gradient(to bottom, #fd3a13, #c1202a, #81182a, #42141e, #000000);
        height: 1000px;
        background-position: top;
        background-size: contain;
        background-repeat: repeat;
    }
    .info-ben{
        width: 90%;
        margin-left: 15px;
        height: 600px;
    }
    .Classben{
        margin-top: 45px;
    }
    .nutrimg{
    display: none;
    }
    .titu-nutri{
        display: none;
        grid-column: 2/3;
        grid-row: 2/3;
        color: white;
        margin-right: 50px;
    }
    .parranutri{
        font-size: 15px;
        margin-top: 75px;
        color: black;
        font-weight: bolder;
    }
    .headercon{
        flex-direction: column;
    }
    .navbarcon{
        flex-direction: column;
    }
    .navbarcon li a{
        font-size: 30px;
        margin-left: 30px;
    }
    .maincon{
    height: 100%;
    }
    .section-con{
        display: none;
    }
    .navbarcon .inicio-con{
    display: none;
    }
    .Bodycon{
        background-image: linear-gradient(to bottom, #fd3a13, #c1202a, #81182a, #42141e, #000000);
        height: 1000px;
        background-position: center;
        background-size: cover;
    }
    .formu{
        width: 90%;
        h4{
            margin-right: 85px;
        }
    }
    .Contac-con{
        margin-top: 500px;
    }
}