@media (max-width: 1024px){
    .Bodynsumos form{
        display: none;
    }
}
@media (max-width: 768px){
    .headerIndex{
        background-color: rgba(28, 34, 56, 0.5333333333);
    }
    .main-p{
        margin-right: 60px;
        width: 100%;
        height: 50%;
    }
    .h1Plan{
        margin-left: 5px;
    }
    .Contac{
        flex-direction: row-reverse;
    }
    .Contac-plan{
        display: flex;
        flex-direction: row-reverse;
        list-style: none;
        background-color: red;
        gap: 10px;
    }
    .navbar-index .Clasindex li a{
        color: white;
    }
    form{
        color: white;
    }
    .Bodynicio{
        width: 100%;
        height: 31.25rem;
        background-image: url("../assets/img/pag  inicio.");
        background-position: center;
        background-size: cover;
    }
    .presentacion{
        font-size: 20px;
        font-family: "Anta", sans-serif;
        color: white;
        justify-content: center;
        justify-self: center;
        margin-top: 55px;
    }
    .headerPlan{
        background-color: rgba(0, 0, 0, 0.733);
    }
    .barraP .navbarP li a{
        color: white;
    }
    .Bodyplan{
        width: 100%;
        height: 500px;
        background-image: url("../assets/img/planes.jpg");
        background-position: initial;
        background-size: cover;
    }
    .Sectionplan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .Bodyben{
        width: 100%;
        height: 500px;
    }
    .inicio-ben{
        display: none;
    }
    .titu-nutri{
        margin-left: 50px;
    }
    .parranutri{
        color: white;
        font-weight: bolder;
        font-size: 25px;
    }
    .headerinsu{
        background-color: rgba(28, 34, 56, 0.5568627451);
    }
    .inicio-insu{
        display: none;
    }
    .Bodynsumos{
        width: 100%;
        height: 31.25rem;
        background-image: url("../assets/img/insumos.jpg");
        background-position: center;
        background-size: cover;
    }
    .titu-prote{
        font-size: 15px;
    }
    .navbarinsu li a{
        color: white;
    }
    .headerben{
        background-color: rgba(28, 34, 56, 0.6039215686);
    }
    .navbarben li a{
        color: white;
    }
    .headercon {
        background-color: rgba(28, 34, 56, 0.5333333333);
    }
    .inicio-con{
        display: none;
    }
    .inicio-bar{
        display: none;
    }
    .navbarcon li a{
        color: white;
    }
}
@media (max-width: 320px){
    .headerIndex {
        flex-direction: column;
    }
    .Clasindex li a {
        font-size: 30px;
        margin-left: 35px;
    }
    .Clasindex{
        flex-direction: column;
    }
    .section-tra{
        justify-content: end;
        justify-self: flex-end;
        margin-bottom: 3px;
        margin-left: 35px;
    }
    .h1Enca{
        margin-top: 15px;
        background-color: red;
        color: black;
    }
    .presentacion{
        color: black;
        font-weight: bolder;
        height: 10%;
    }
    form{
        display: none;
    }
    .h1Plan{
        background-color: black;
        margin-top: 20px;
    }
    .Sectionplan{
        margin-top: 20px;
    }
    .headerPlan{
        flex-direction: column;
    }
    .navbarP{
        flex-direction: column;
    }
    .navbarP li a{
        font-size: 30px;
        margin-left: 35px;
    }
    form{
        display: none;
    }
    .h1Insu{
        background-color: black;
    }
    .headerinsu{
        flex-direction: column;
    }
    .navbarinsu{
        flex-direction: column;
    }
    .navbarinsu li a{
        font-size: 30px;
        margin-left: 35px;
    }
    .navbarinsu .inicio-insu{
        display: none;
    }
    .section-grid{
        grid-template-columns: auto;
        height: 80%;
        gap: 3px;
    }
    .section-grid img{
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    .titu-prote{
        grid-column: 2/8;
        grid-row: 1/2;
        font-size: 15px;
        color: black;
        position: relative;
    }
    .parracrea{
        display: none;
    }
    .titu-acc{
        grid-column: 4/6;
        grid-row: 4/6;
        font-size: 15px;
        position: relative;
        color: black;
    }
    .parra-acc{
        display: none;
    }
    .titu-maqui{
        grid-column: 4/6;
        grid-row: 7/9;
        font-size: 15px;
    }
    .parramaqui{
        display: none;
    }
    .h1Ben{
        background-color: black;
    }
    .headerben{
        flex-direction: column;
    }
    .navbarben{
        flex-direction: column;
    }
    .navbarben li .inicio-ben{
        display: none;
    }
    .navbarben li a{
        font-size: 30px;
        margin-left: 30px;
    }
    .Bodyben{
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/nutricion.jpg");
        background-position: top;
        background-size: contain;
        background-repeat: repeat;
    }
    .Classben{
        margin-top: 45px;
    }
    .nutrimg{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .titu-nutri{
        grid-column: 2/3;
        grid-row: 2/3;
        color: white;
        margin-right: 50px;
    }
    .parranutri{
        font-size: 15px;
        margin-top: 75px;
        color: black;
        font-weight: bolder;
    }
    .headercon{
        flex-direction: column;
    }
    .navbarcon{
        flex-direction: column;
    }
    .navbarcon li a{
        font-size: 30px;
        margin-left: 30px;
    }
    .maincon{
    height: 100%;
    }
    .section-con{
        display: none;
    }
    .navbarcon .inicio-con{
    display: none;
    }
    .Bodycon{
        width: 100%;
        height: 31.25em;
        background-image: url("../assets/img/pie de pag.jpg");
        background-position: center;
        background-size: cover;
    }
}