/*header y main de planes*/
.h1Plan{
    text-align: center;
    text-shadow: 2px 5px 5px grey;
    font-family: "Oswald", sans-serif;
}
.Sectionplan{
    display: grid;
    gap: 300px;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
}
.planbronce{
    width: 200px;
    height: 350px;
    background-color: rgb(165, 42, 42);
}
.planplata{
    width: 200px;
    height: 350px;
    background-color: rgb(192, 192, 192);
}
.planoro{
    width: 200px;
    height: 350px;
    background-color: rgb(255, 215, 0);
}
.Bodyplan{
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/planes.jpg");
    background-position: unset;
    background-size: cover;}
.headerPlan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.705);
.navbarP{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0px 10px;
}.navbarP li a{
        text-decoration: none;
        color: #1C2238;
        font-size: 20px;
    }.navbarP li a:hover{
        color: white;}
}
.Sectionplan{
    color: white;
    justify-items: center;
}.Sectionplan ul li{
    justify-items: center;
    margin-left: 20px;
    margin-top: 35px;
}
.Sectionplan h3{
    margin-left: 50px;
    text-decoration: underline ;
}
.lista-bronce li::marker{
    content: "➡️";
}
.lista-plata li::marker{
    content: "➡️";
}
.lista-oro li::marker{
    content: "➡️";
}
.Contac-plan{
    flex-direction: row-reverse;
}