$color-barra: rgb(19, 19, 78);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*barra de navegacion y logo*/
.logo{
    border-radius: 60%;
}
nav a img{
    width: 10%;
    height: 6.5625rem;
}
.Clasindex{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0px 10px;
}

.headerPlan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.705);
}

form{
    display: flex;
    align-self: center;
}


.Contac-plan{
    display: flex;
    background-color: red;
    gap: 10px;
    list-style: none;
}
.navbarinsu{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0px 10px;
}
.navbarinsu li a{
    color: #1C2238;
    text-decoration: none;
    font-size: 20px;
}
.navbarinsu li a:hover{
    color: white;
}
.headerinsu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.651);
}
.headercon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.603);
}
.navbarcon{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0px 10px;
}
.navbarcon li a{
    text-decoration: none;
    color: #1C2238;
    font-size: 20px;
    }
.navbarcon li a:hover{
    color: white;
}
.headerben{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.651);
}
.navbarben{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0px 10px;
}
    .navbarben li a{
    color: #1C2238;
    text-decoration: none;
    font-size: 20px;
}
    .navbarben li a:hover{
        color: white;
}
form input:focus{
    background-color:black;
    color: white;
}
